
.parameters{
    display: block;
    margin: 60px 150px;
  }
  .parameter{
    margin: 10px;
  }

  .parameter-input{
    width: 250px;
    height: 25px;
    margin-left: 10px;
  }
  .parameter-select{
    width: 250px;
  }
  .label-holder{
    color:white;
  }